<div class="row collapse">
  <div class="columns small-11 medium-8 box small-centered">
    <header class="smooth-header round-top-5">
      <div class="row">
        <div class="columns small-12">
          <h1 class="smooth-h1"><%= @current_user ? 'Email Sent' : 'Recover Your Password' %></h1>
        </div>
      </div>
    </header>
    <section>
      <%= simple_flash %>
      <div class="row pt-15">
        <% if @current_user %>
          <div class="columns small-12">
            <p class="lh-half">Check your email to reset your password.</p>
          </div>
        <% else %>
          <div class="row">
            <div class="columns small-12">
              <%= form_for :recover do |f| %>
                <%= f.email_field :email, placeholder: 'enter your email & press enter', class: 'huge-input', autocomplete: 'off' %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="columns small-12 text-right pb-15">
              <a href="<%= login_path %>">I remember, take me to login</a>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
