<section class="light-strip pt-30 pb-40">
  <div class="row">
    <div class="columns small-12 text-center">
      <h2 class="big-blue f-50">The CryptoCurrency Marketplace</h2>
      <p class="f-28 mb-40">Your Personal Gateway to the World of Bitcoins</p>
      <p class="f-28 mb-40">Buy | Sell | Redeem | Trade | Easy | Safe.</p>
      <a href="<%= signup_path %>" class="button radius excite strong mb-0 f-28" data-reveal-id="signupModal" data-reveal>Sign up for free</a>
    </div>
  </div>
</section>
<section class="dark-strip pt-30 pb-40">
  <div class="row">
    <div class="columns small-12 text-center"><h2 class="f-36 whitey">101DX allows you to trade:</h2></div>
  </div>
  <div class="row">
    <div class="columns small-3 p-40 text-center">
      <%= image_tag 'coin_icons/bitcoin_icon_white.png', class: 'mb-5' %><br>
      <h3 class="whitey f-24">bitcoin<h3>
    </div>
    <div class="columns small-3 p-40 text-center">
      <%= image_tag 'coin_icons/litecoin_icon_white.png', class: 'mb-5' %><br>
      <h3 class="whitey f-24">litecoin<h3>
    </div>
    <div class="columns small-3 p-40 text-center">
      <%= image_tag 'coin_icons/peercoin_icon_white.png', class: 'mb-5' %><br>
      <h3 class="whitey f-24">peercoin<h3>
    </div>
    <div class="columns small-3 p-40 text-center">
      <%= image_tag 'coin_icons/dogecoin_icon_white.png', class: 'mb-5' %><br>
      <h3 class="whitey f-24">dogecoin<h3>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 text-center f-36 whitey">...and many more</div>
  </div>
</section>
<section class="plain-strip pt-40 pb-40 text-center">
  <div class="row">
    <h4 class="subheader">Our Services</h4>
    <div class="columns medium-6 pr-15">
      <div class="white-block p-30">
        <i class="fa fa-money f-60 mb-20"></i>
        <i class="fa fa-exchange f-60 mb-20"></i>
        <i class="fa fa-bitcoin f-60 mb-20"></i>
        <h2>Streamline</h2>
        <em>The Easiest Bitcoin Platform.</em><br><br>
        <p>Streamline is the essense of Bitcoin exchange. Turn your bitcoins into Dollars or Euros. Turn your Euros into Bitcoins. Fast, easy, secure.</p>
        <p>Fast and friendly support completes the experience.</p>
        <a href="<%= features_path %>" class="button radius mb-0">Learn More</a>
      </div>
    </div>
    <div class="columns medium-6 pl-15">
      <div class="white-block p-30">
        <i class="fa fa-fighter-jet f-60 mb-20"></i>
        <h2>DFX Matrix</h2>
        <em>Digital Foreign Exchange</em><br><br>
        <p>The Tool for Traders: Fast, Customizable, Secure</p>
        <p>Our exclusive "any for any" trading engine ensures maximum liquidity, even for low volume currencies.</p>
        <a href="<%= features_path %>" class="button radius mb-0">Learn More</a>
      </div>
    </div>
  </div>

  <div class="row">
 &nbsp;
 </div>
  <div class="row">
    <div class="columns medium-6 pr-15">
      <div class="white-block p-30">
        <i class="fa fa-qrcode f-60 mb-20"></i>
        <h2>Accept Bitcoins and AltCoins</h2>
        <p>It's the Zero Fee, Zero Currency Risk way to get paid.</p>
        <em>In Development</em><br><br>
      </div>
    </div>
    <div class="columns medium-6 pr-15">
      <div class="white-block p-30">
        <i class="fa fa-flask f-60 mb-20"></i>
        <h2>101 Labs</h2>
        <p>Stay tuned for more exciting new products from 101</p>
        <em>In Development</em><br><br>
      </div>
    </div>
  </div>

</section>

<section class="light-separator pt-20 pb-20">
  <div class="row">
    <div class="columns small-12 text-center pb-20">
      <h2>Next Gen Digital Currency Exchange</h2>
      <h4 class="subheader">Facilitating Digital Cash and Trade Worldwide</h4>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-4">
      <h4>Exchange Cash For Cash</h4>
      <p>Bitcoins are Cash for the Internet Age. So why pretend? We trade real world cash for digital cash. What could be more simple? You don't even need a bank account.</p>
    </div>
    <div class="columns medium-4">
      <h4>Same Day Funding</h4>
      <p>Want to buy or sell today?<br>We're actively building our network of agents. Simply drive or walk to your nearest agent and trade instantly.</p>
    </div>
    <div class="columns medium-4">
      <h4>Mobile Friendly</h4>
      <p>Not everyone has or needs a desktop. We have optimized our systems to allow you to buy, sell or trade digital currencies with a smart phone or tablet. Now you can trade anywhere, any time.</p>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12 text-center">
      <a class="button radius" href="<%= features_path %>">Learn more about how 101DX Works</a>
    </div>
  </div>
</section> 
<section class="pt-20 pb-20">
  <div class="row">
    <div class="columns small-12 text-center pb-20">
      <h2>Security. Professionalism. Convenience. Flexibility</h2>
      <h4 class="subheader">We wanted to trade bitcoins. And this is how we wanted to do it.</h4>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <h3>Security</h3>
      <p>Our network security team has an <strong>average</strong> of 20 years experience in securing high value internet properties. We employ bank level security protocols to ensure your data is secure, and your coins are safe.</p>
    </div>
    <div class="columns medium-3">
      <h3>Professionalism</h3>
      <p>With all due respect to the kids in the garage, the last people you may want to trust your financial details to are the kids in the garage. At 101, you can be assured you are dealing with experienced professionals. </p>
    </div>
    <div class="columns medium-3">
      <h3>Convenience</h3>
      <p>Our goal is to have at least one agent in every city of 100,000 people or more. Wherever you are, we will be there.</p>
    </div>
    <div class="columns medium-3">
      <h3>Flexibility</h3>
      <p>Most people want to buy or sell digtal currencies. But others want to trade. So, we offer both platforms.</p>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12 text-center">
      <a class="button radius" href="<%= values_path %>">Learn more about our Values</a>
    </div>
  </div>
</section> 
<section class="pt-60 pb-60">
  <div class="row">
    <div class="columns small-12 text-center f-28 strong">
      Buy and sell coins now. <a href="<%= signup_path %>" class="button radius excite strong mb-0 ml-20 f-28" data-reveal-id="signupModal" data-reveal>Get Started</a>
    </div>
  </div>
</section>
