<section class="light-strip pt-30 pb-40">
  <div class="row">
    <div class="columns small-12 text-center">
      <h1 class="big-blue f-50">The Global CryptoCurrency Marketplace</h1>
      <p class="f-28 mb-40">101 Digital Exchange is the world's local Bitcoin Exchange.<br/>
      We're happy you found us!</p>
      <p class="f-28 mb-40">Buy | Sell | Trade | Redeem  | Easy | Safe</p>
      <a href="<%= signup_path %>" class="button radius excite strong mb-0 f-28" data-reveal-id="signupModal" data-reveal>Sign up for free</a>
    </div>
  </div>
</section>
<section class="dark-strip pt-30 pb-40">
  <div class="row">
    <div class="columns small-12 text-center"><h2 class="f-36 whitey">Trade the biggest coins:</h2></div>
  </div>
  <div class="row">
    <div class="columns small-6 medium-3 p-40 text-center">
      <%= image_tag 'coin_icons/bitcoin_icon_white.png', class: 'mb-5' %><br>
      <h3 class="whitey f-24">bitcoin<h3>
    </div>
    <div class="columns small-6 medium-3 p-40 text-center">
      <%= image_tag 'coin_icons/litecoin_icon_white.png', class: 'mb-5' %><br>
      <h3 class="whitey f-24">litecoin<h3>
    </div>
    <div class="columns small-6 medium-3 p-40 text-center">
      <%= image_tag 'coin_icons/peercoin_icon_white.png', class: 'mb-5' %><br>
      <h3 class="whitey f-24">peercoin<h3>
    </div>
    <div class="columns small-6 medium-3 p-40 text-center">
      <%= image_tag 'coin_icons/dogecoin_icon_white.png', class: 'mb-5' %><br>
      <h3 class="whitey f-24">dogecoin<h3>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 text-center f-36 whitey">...and many more - currently 110 currency pairs!</div>
  </div>
</section>
<section class="plain-strip pt-40 pb-40 text-center">
  <div class="row">
    <h3>It's Crypto Trading in Three Easy Steps</h3>
    <div class="columns medium-4 pl-15">
      <div class="white-block p-30">
        <h2>Step 1</h2>
        <i class="fa fa-download f-60 mb-20"></i><br/>
        <em>Deposit your coins</em><br><br>
        <p>Our list of supported currencies is growing weekly. Want a new coin? Just ask!</p>
      </div>
    </div>

    <div class="columns medium-4 pl-15">
      <div class="white-block p-30">
        <h2>Step 2</h2>
        <i class="fa fa-refresh f-60 mb-20"></i><br/>
        <em>Trade Without Limits</em><br><br>
        <p>Trade any supported currency for any other - with market and limit orders  , stop trading and more</p>
      </div>
    </div>

    <div class="columns medium-4 pl-15">
      <div class="white-block p-30">
        <h2>Step 3</h2>
        <i class="fa fa-upload f-60 mb-20"></i><br/>
        <em>Profit!*</em><br><br>
        <p>Fast, Reliable Withdrawals to your Wallet.</p>
        <p><i>*The profit part is up to you :)</i></p>
      </div>
    </div>

  </div>

</section>


<section class="pt-60 pb-60">
  <div class="row">
    <div class="columns small-12 text-center f-28 strong">
      Buy and sell digital currency now. <a href="<%= signup_path %>" class="button radius excite strong mb-0 ml-20 f-28 small-mt-20 medium-mt-0" data-reveal-id="signupModal" data-reveal>Get Started</a>
    </div>
  </div>
</section>
