<header class="pt-20">
  <div class="row">
    <ul class="breadcrumb">
      <li><a href="<%= panel_wallet_path %>">Transfer</a></li>
      <li><a href="<%= panel_wallet_addresses_path %>">Deposit</a></li>
      <li><a href="<%= panel_wallet_address_path @address %>" class="active">Address</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="columns small-12">
      <h1>Deposit Address</h1>
    </div>
  </div>
</header>
<section class="pb-20">
  <div class="row">
    <div class="columns small-12">
      <div class="boxy p-15 mb-15">
        <div class="row">
          <div class="columns small-6">
            <h2><%= Finance.crypto_name_by_currency @address.currency %> Address <% if @address.label %><span class="f-14 ml-60">Label: <%= @address.label %></span><% end %></h2>
            <span class="f-18 positive"><%= @address.address %></span><br>
            <%= image_tag @address.qr_uri '300x300' %>
          </div>
          <div class="columns small-6 text-right">
            <a href="<%= edit_panel_wallet_address_path @address %>" class="button radius secondary mb-0">Edit</a>
          </div>
        </div>
      </div>
      <div class="boxy p-15">
        <h2>Deposits</h2>
        <%= render 'panel/wallet/deposit_list', remove_table_footer: true %>
      </div>
    </div>
  </div>
</section>
